{% extends "base_generic.html" %}

{% block content %}
<h1>Eloisa PC-control</h1>

  <p>informe de estudiantes<em> PC-control de la E.B Eloisa Fonseca</em></p>

<h2>Estudiantes Registrados</h2>

  <p>Se han encontrado : <strong>{{ num_estudiantes }} </strong> Estudiantes</p>

  {% if estu_list %}
<div id="historial" style="overflow-x:auto;">
      <table class="">
      <thead>
      <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cedula</th>
          <th>Representante</th>
          <th>Correo electronico</th>
      </tr>
      </thead>
      <tbody>
      {% for estu in estu_list  %}
          <tr>
              <td>{{ estu.nombre }}</td>
      <td>{{ estu.apellido }}</td>
      <td>{{ estu.cedula }}</td>
      <td>{{ estu.representante }}</td>
      <td>{{ estu.email }}</td>

          </tr>
      {% endfor %}
      </tbody>

      </table>
      </div>
      <input type="button" onclick="printDiv('historial')" value="imprimir div" />
    {% else %}
        <p>No hay estudiantes agregados.</p>
    {% endif %}

{% endblock %}