<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Rafael Rangel PC-control</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% comment %} {% endcomment %}

  <!-- Add additional CSS in static file -->
  {% load static %}<link rel="stylesheet" href="{% static 'regiterpc/css/styles.css' %}">
<script>
    function printDiv(nombreDiv) {
     var contenido= document.getElementById(nombreDiv).innerHTML;
     var contenidoOriginal= document.body.innerHTML;

     document.body.innerHTML = contenido;

     window.print();

     document.body.innerHTML = contenidoOriginal;
}
</script>

</head>

<body>
    <header class="head">
        <div class="titulo"><img class="upttlogo" src="{% static 'regiterpc/images/uptt.png' %}">
            <h1>Rafael Rangel PC-control</h1>

  <p>Bienvenido al<em> PC-control de la L.B Rafael Rangel</em></p></div>
   <div class="logo"> <img class="logo" src="{% static 'regiterpc/images/logoRR.png' %}"></div>

    </header>
    <div class="tool-bar">
        <a class="volver" href="javascript:history.back()">Volver atras</a>
        <input class="print" type="button" onclick="printDiv('print')" value="imprimir" />
        <form action="/buscar/" method="get">
    <input placeholder="ingrese una cedula o serial" type="text" name="q">
    <input type="submit" value="Buscar">
    </form>
    </div>
    <div class="sidebar-nav" style=" ">
      {% block sidebar %}

           <a href="{% url 'index' %}">Home</a>
           <a href="{% url 'repre' %}">Representantes</a>

          <a href="{% url 'estu' %}">Estudiantes</a>



            <div class="dropdown">
           <a href="{% url 'compu' %}">Computadoras<button class="dropbtn"></button></a>
          <div class="dropdown-content">
                <a href="{% url 'primero' %}">Primer año</a>
                <a href="{% url 'segundo' %}">Segundo año</a>
                <a href="{% url 'tercero' %}">Tercer año</a>
                <a href="{% url 'cuarto' %}">Cuarto año</a>
                <a href="{% url 'quinto' %}">Quinto año</a>

            </div>
          </div>
           <a href="/admin">Panel de Control</a>

     {% endblock %}
      </div>

      <div class="main">
      {% block content %}{% endblock %}
      </div>
<footer>
    <p style="float:right;margin-top:50%;color: rgba(0,0,0,0.25);">desarrollado por <a href="https://www.linkedin.com/in/alfonso-davila">Alfonso Dàvila</a> & Carlos Patiño</p>
</footer>
</body>
</html>

